<div class="flex flex-column">
    <h1 class="text-center font-bold">Welcome to the administration panel of PPA-AIR</h1>
    <span class="font-semibold font-italic text-center">Flight Beyond</span>
</div>
<div class="flex flex-row align-items-center justify-content-center gap-3 p-5">
    <h2 class="font-bold text-red-500">¡ADVICE!:</h2>
    <p>This is a fake panel administration from a non-existent air company, created just for practice purposes. All of this code belongs to Juan Camilo Torres Beltrán (Software Engineer and Full Stack Developer). For more information 
        <span (click)="scrollToFooter()" class="cursor-pointer no-underline hover:underline text-primary">
        click here</span>
    </p>
</div>
<app-home-page-panel></app-home-page-panel>
