<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img 
                src="../../../../../../assets/img/ppa-air-logo.png" 
                alt="ppa-air-logo"
                width="120"
                height="60"
                (click)="backMainPage()" 
                class="border-circle cursor-pointer shadow-2 transition-duration-300 hover:shadow-4 p-2 bg-white"
            />
        </ng-template>
        <ng-template pTemplate="item" let-item let-root="root">
            <a pRipple class="flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" />
                <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
            </a>
        </ng-template>
    </p-menubar>
</div>
<div *ngIf="isLoading | async" class="loading-overlay">
    <p-progressSpinner ariaLabel="loading" />
</div>
<router-outlet></router-outlet>
<app-footer id="footer"></app-footer>