/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:host ::ng-deep .button-filter .p-button{
    padding: 1rem;
    width: 100%;
}

:host ::ng-deep .clear-button .p-button.p-button-secondary, .p-button-group.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button{
   color: #475569;
   background: #f1f5f9;
   border: 1px solid #f1f5f9;
}

:host ::ng-deep .clear-button:hover .p-button.p-button-secondary, .p-button-group.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: #475569;
    color: #f1f5f9;
}

:host ::ng-deep .p-dropdown.p-component.p-inputwrapper{
    width: 100%;
}

:host ::ng-deep .p-inputtext{
    width: 100%;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

:host ::ng-deep .table-style-v1 .p-datatable-table{
    width: 100%;
    border-radius: 5%;
    border: 1px #e5e7eb solid;
}

:host ::ng-deep .table-style-v1 .p-datatable-table{
    width: 100%;
    border-radius: 5%;
    border: 1px #e5e7eb solid;
}

:host ::ng-deep .table-style-v1 .p-datatable .p-datatable-thead > tr > th{
    border-width: 2px 0 1px 0;
    border-color: #e5e7eb;
    border-top-left-radius: 5%;
    background-color: #46cdcf;
    color: white;
}

.icon-style {
    color: var(--blue-500);
    margin-right: 1rem;
}

.state-active {
    display: inline-block;
    width: 10px;
    margin-right: 8px;
    height: 10px; 
    background: var(--green-400) 0% 0% no-repeat padding-box;
    border-radius: 10px; 
}

.state-inactive {
    display: inline-block;
    width: 10px;
    margin-right: 8px;
    height: 10px; 
    background: var(--red-500) 0% 0% no-repeat padding-box;
    border-radius: 10px; 
}

.state-medium {
    display: inline-block;
    width: 10px;
    margin-right: 8px;
    height: 10px; 
    background: var(--yellow-500) 0% 0% no-repeat padding-box;
    border-radius: 10px; 
}

.required {
    color: var(--red-500);
}

:host ::ng-deep .p-breadcrumb{
    border: none;
    background-color: white;
}

:host ::ng-deep .p-calendar{
    width: inherit;
}

:host ::ng-deep p-calendar{
    width: 100%;
}

@font-face {
    font-family: 'Berkslund';
    src: local('Berkslund Bold'), local('Berkslund-Bold'),
        url('assets/fonts/Berkslund-Bold/Berkslund-Bold.woff2') format('woff2'),
        url('assets/fonts/Berkslund-Bold/Berkslund-Bold.woff') format('woff'),
        url('assets/fonts/Berkslund-Bold/Berkslund-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link{
    font-family: 'Berkslund', Arial, sans-serif !important;
    color: white;
    border-radius: 6px;
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link:hover{
   background-color: #e4f6f7;
   color: black;
}

:host ::ng-deep .p-menubar.p-focus {
    background: #46cdcf !important;
    color: black !important;
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content{
    background: #46cdcf !important;
    color: black !important;
 }

:host ::ng-deep .p-menubar {
    background-color: #46cdcf;
    border-radius: 0;
}

:host ::ng-deep .p-dialog .p-dialog-header {
    background: #46cdcf;
    color: white;
    padding: 1rem;
}

:host ::ng-deep .p-component{
    font-family: 'Berkslund', Arial, sans-serif !important;
}

:host ::ng-deep .p-inputnumber.p-component{
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Berkslund', Arial, sans-serif !important;
}